iframe#cenra-custom {
  position: fixed;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: white;
  z-index: 2147483647; /* lol absolute maximum */
}

@media only screen and (orientation: landscape) {
  body, body * {
    max-width: 70vw;
  }

  iframe#cenra-custom {
    top: 0;
    right: 0;
    width: calc(30vw - 16px); /* 8px internal margin */
    height: 100vh;
  }

  iframe#cenra-custom body {
    margin: 0;
  }

  @media only screen and (min-width: 1920px) {
    body {
      max-width: 80vw;
    }
  
    iframe#cenra-custom {
      width: calc(20vw - 16px);
    }
  }
}

@media only screen and (orientation: portrait) {
  body {
    max-width: 100vw; /* these don't work for some reason, hence opacity toggle button on iframe */
    max-height: 80vh;
  }

  iframe#cenra-custom {
    top: 80vh;
    left: 0;
    bottom: 0;
    height: 20vh;
    width: 100vw;
  }
}