body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.centra-iframe {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.centra-iframe.shortcode {
  align-items: center;
}


