body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets//patterns/yellow-tile.webp');
  background-repeat: repeat;
  background-size: 300px 300px;
}

body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #282828;
}

.cenra-iframe {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100%;
  padding: 1rem;
}

.cenra-iframe.shortcode {
  justify-content: center;
}

.cenra-iframe.shortcode input {
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
}

.centra-iframe__app {
  width: 100vw;
  height: 100%;
}

.centra-iframe__anime-character {
  position: absolute;
  bottom: 0;
  right: 0;
}
