body {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 250px;
  overflow: hidden;
}

body * {
  box-sizing: border-box;
}

.nanta-ui,
.nanta-ui__container,
.nanta-ui__search {
  display: flex;
  width: 100%;
}

.nanta-ui {
  position: relative;
}

.nanta-ui.delete-modal-open {
  min-height: 250px;
}

.nanta-ui__container {
  flex-direction: column;
}

#nanta-search-input {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
}

.nanta-ui__display {
  max-height: 350px;
  overflow-y: auto;
}

.nanta-ui__display.has-results {
  margin-top: 0.5rem;
}

.nanta-ui__search-result {
  position: relative;
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  cursor: pointer;
}

.nanta-ui__search-result span {
  width: 100%;
}

.nanta-ui__search-result button {
  position: absolute;
  top: 50%;
  right: 0;
  width: 18px;
  height: 18px;
  border: 0;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.nanta-ui__search-result:hover {
  background-color: #dcdcdc;
}

.nanta-ui__active-note-body {
  width: 100%;
  min-height: 250px;
  margin-top: 0.5rem;
}

.nanta-ui__new-entry {
  font-size: 1rem;
}

.nanta-ui__modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  background-color: white;
  border: 1px solid #808080;
  padding: 0.5rem;
}

.nanta-ui__modal.hidden {
  display: none;
}

.nanta-ui__modal.deleting {
  background-color: #dcdcdc;
  cursor: wait;
}

.nanta-ui__modal.deleting span button {
  pointer-events: none;
}

.nanta-ui__modal span button {
  z-index: 1;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}

.nanta-ui__modal span button:first-of-type {
  margin-right: 1rem;
}

.nanta-ui__modal span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 1rem;
}

.recent-notes-row p.date {
  margin-bottom: 0;
}

.recent-notes-row p.name {
  font-size: 1rem;
  padding-left: 0.125rem;
  margin-top: 0;
  cursor: pointer;
}

.recent-notes-row p.name:hover {
  background-color: #aaa;
  color: white;
}

.recent-notes-row p.collapsible {
  margin-top: -0.75rem;
  padding-left: 0.5rem;
  white-space: pre;
}

.recent-notes-row p.collapsed {
  display: none;
}

/* iframe specific overrides, not popup ui */
/* this is not working */

iframe .nanta-ui__display {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}
